
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
 margin:0;
 padding:0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
 display:block
}
audio,
canvas,
progress,
video {
 display:inline-block;
 vertical-align:baseline
}
hr {
 box-sizing:content-box;
 height:0
}
button,
input,
optgroup,
select,
textarea {
 color:inherit;
 font:inherit;
 margin:0
}
button,
html input[type=button],
input[type=submit] {
 -webkit-apperance:button;
 cursor:pointer
}
button[disabled],
html input[disabled] {
 cursor:default
}
ol,
ul {
 list-style:none
}
img {
 border:0;
 vertical-align:middle
}
/* 版心的公共类 */
.wrap {
  width: 1190px;
  /* 京东的版心是1190px */
  margin: 0 auto;
  /* 为啥这个版心居中没有效果 */
}

/* 浮动的公共类 */
input,
button {
  border: 0px;
  outline: none;
  /*取消轮廓边框*/
}

ul {
  list-style-type: none;
}

body {
  background-color: #f0f3ef;
}

table {
 border-collapse:collapse;
 border-spacing:0
}
del {
 text-decoration:line-through
}
em,
i,
u {
 font-style:normal
}
.fl {
 float:left
}
.fr {
 float:right
}
.hide {
 display:none
}
.clear,
.clr {
 display:block;
 overflow:hidden;
 clear:both;
 height:0;
 line-height:0;
 font-size:0
}
.clearfix:after {
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden
}
.clearfix {
 *zoom:1
}
.dorpdown {
 position:relative
}
body {
 font-size:12px; 
 color:#666
}
a {
 color:#666;
 text-decoration:none;
 white-space:nowrap;
  
}
a:hover {
 color:#e01222;
//  text-decoration:underline
}
.m,
.mb,
.mc,
.mt,
.p-detail,
.p-img,
.p-market,
.p-name,
.p-price,
.sm,
.smb,
.smc,
.smt {
 overflow:hidden
}
body {
 background:#fff
}